.app {
  position: absolute;
  inset: clamp(16px, 2vw, 24px);

  display: flex;
  row-gap: 32px;
  flex-direction: column;

  padding: 16px;
  overflow-y: auto;
  border-radius: 6px;

  section {
    &.titleSection {
      text-align: center;
      margin-bottom: 24px;
    }

    &.chartFiltersWrapper {
      display: flex;
      flex-direction: column;

      .chartFilters {
        display: flex;
        gap: 24px;
      }
    }

    .chartDropdown {
      width: 200px;
    }

    .virtualScroller {
      border-radius: 6px;
      border: 1px dashed #e7e8eb;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 24px;
  }

  .filtersScrollWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .filterSection {
      flex: 1;

      form {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        flex-direction: column;

        margin-top: 32px;
        min-width: 280px;

        .inputsWrapper {
          display: flex;
          gap: 24px;
          flex-direction: column;

          .filter {
            width: 100%;
          }
        }

        .buttonsWrapper {
          display: flex;
          gap: 16px;

          .button {
            flex: 1;
            height: 38px;
          }
        }
      }
    }

    .virtualScrollSection {
      flex: 2;

      .container {
        .virtualScrollerItemWrapper {
          display: flex;
          flex-direction: column;

          .row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            padding: 10px;

            span {
              &:first-child {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
