.app {
  position: absolute;
  inset: clamp(16px, 2vw, 24px);

  padding: 16px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e7e8eb;
  box-shadow: -6px 4px 14px -6px #b2b3b4;
}
