.app {
  position: absolute;
  inset: clamp(16px, 2vw, 24px);

  display: flex;
  row-gap: 32px;
  flex-direction: column;

  padding: 16px;
  overflow-y: auto;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e7e8eb;
  box-shadow: -6px 4px 14px -6px #b2b3b4;

  section {
    &.titleSection {
      text-align: center;
      margin-bottom: 24px;
    }

    &.chartFiltersWrapper {
      display: flex;
      flex-direction: column;

      .chartFilters {
        display: flex;
        gap: 24px;
      }
    }

    &.filterSection {
      h1 {
        text-align: center;
        margin-bottom: 32px;
      }

      form {
        display: flex;
        row-gap: 26px;
        column-gap: 16px;
        flex-wrap: wrap;

        .dropdown {
          width: 200px;
        }

        .button {
          width: 100px;
          height: 38px;
        }
      }
    }

    &.virtualScrollSection {
      .container {
        padding-inline: 15%;

        .virtualScrollerItemWrapper {
          display: flex;
          flex-direction: column;

          .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            span {
              &:first-child {
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    .chartDropdown {
      width: 200px;
    }

    .virtualScroller {
      border-radius: 6pxs;
      border: 1px dashed #e7e8eb;
    }
  }
}
